{% extends 'default/base.html.twig' %}

{% block title %}{% trans %}Liste des instructeurs{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Gérer les instructeurs{% endtrans %}</h1>

        <div class="table-wrapper">
            {% include 'default/utils/messages.html.twig' %}

            <table class="users-table table-sort">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Prénom{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Téléphone{% endtrans %}</th>
                    <th>{% trans %}Type de réponse{% endtrans %}</th>
                    <th>{% trans %}Initiales{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for instructor in instructors %}
                        <tr>
                            <td class="edit-cel">
                                <a href="{{ path('admin_instructor_edit', {'id': instructor.id}) }}" title="{% trans %}Modifier l'instructeur{% endtrans %}">
                                    <i class='icon-edit'></i>
                                </a>
                            </td>
                            <td class="delete-cel">
                                <form action="{{ url('admin_instructor_remove', { id: instructor.id }) }}" method="post" class="show-alert">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-instructor') }}"/>

                                    <button type="submit" class="btn-icon"><i class="icon-bin2"></i></button>
                                </form>
                            </td>
                            <td>{{ instructor.firstName }}</td>
                            <td>{{ instructor.lastName }}</td>
                            <td><a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a></td>
                            <td>{{ instructor.phone }}</td>
                            <td>
                                {% for responseType in instructor.responseType %}
                                    {% if loop.index0 > 0 %},{% endif %}
                                    {{ ('responseType.' ~ responseType)|trans }}
                                {% endfor %}
                            </td>
                            <td>{{ instructor.initials|join(',') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex-container align-right">
            <a href="{{ path('admin_instructor_add') }}" title="{% trans %}Ajouter un instructeur{% endtrans %}" class="border-button">
                <span>{% trans %}Ajouter un instructeur{% endtrans %}</span>
            </a>
        </div>
    </div>

{% endblock %}
