@charset "UTF-8";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

// Settings
// ==================================================
$hamburger-padding-x:                        1.5rem !default;
$hamburger-padding-y:                        1rem !default;
$hamburger-layer-width:                      2rem !default;
$hamburger-layer-height:                     .1rem !default;
$hamburger-layer-spacing:                    .5rem !default;
$hamburger-layer-color:                      #FFFFFF !default;
$hamburger-layer-border-radius:              0 !default;
$hamburger-hover-opacity:                    1 !default;
$hamburger-hover-transition-duration:        .3s !default;
$hamburger-hover-transition-timing-function: ease-in-out !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter:                 false !default;
$hamburger-hover-filter:                     opacity(50%) !default;

// Types (Remove or comment out what you don’t need)
// ==================================================
$hamburger-types:                            (
                                               spring
                                             ) !default;

@import "burger/base";
@import "burger/spring";
