// Style barre de navigation

.header {
  position: fixed;
  top:      0;
  left:     0;
  right:    0;
  background: {
    image:    linear-gradient(to bottom, rgba($bleu-voile, .7), rgba($bleu-voile, .7)), url("#{$img-path}/bandeau-departements-notaires.jpg");
    repeat:   no-repeat;
    size:     cover;
    position: center center;
  }
  z-index:  3;

  &.is-mobile-nav-open .nav-bottom .container {
    pointer-events:   auto;
    top:              100%;
    background-color: rgba($bleu-voile, .8);
    opacity:          1;
  }

  .nav-top .container, .nav-middle .container, .nav-bottom .container {
    display: flex;
  }

  .nav-top, .nav-middle {
    border-bottom: .1rem solid $dore-clair;
  }

  .nav-link, .nav-action {
    font-weight: 700;
    text-align:  center;
    color:       $blanc;

    @media (max-width: $medium-plus) {
      font-size: 1.2rem;
    }
  }

  .nav-top {
    transition: margin-top .2s ease-in-out;

    .container {
      justify-content: flex-end;
      font-size:       1.3rem;

      .nav-help {
        position: absolute;
        right:    0;

        &.is-static {
          position:    static;
          border-left: .1rem solid $dore-clair;
        }
      }

      .nav-action {
        padding:    .5rem 1.5rem;
        transition: all .3s ease-in-out;

        &:not(.nav-help) {
          border-left: .1rem solid $dore-clair;
        }

        &:hover {
          color:            $anthracite;
          background-color: $dore-clair;
        }

        span.is-invisible {
          display: none;
        }
      }
    }
  }

  .nav-middle .container {
    align-items:     center;
    justify-content: space-between;

    a {
      padding: 1rem 1.5rem;

      img {
        height:    auto;
        max-width: 100%;
      }
    }

    .logo-departements-notaires img {
      width:         32rem;
      margin-bottom: -.5rem;

      @media (max-width: $medium-plus) {
        width: 25rem;
      }
    }

    .logo-department img {
      width: 13rem;

      @media (max-width: $medium-plus) {
        width: 9rem;
      }
    }
  }

  .nav-bottom .container {
    @media (max-width: $small-plus) {
      flex-direction:   column;
      position:         absolute;
      top:              90%;
      left:             0;
      right:            0;
      padding:          1.5rem;
      pointer-events:   none;
      background-color: transparent;
      opacity:          0;
      transition:       all .3s ease-in-out;
    }

    .nav-link {
      display:         flex;
      align-items:     center;
      justify-content: center;
      flex-grow:       1;
      padding:         1rem 1.5rem 1.1rem;
      letter-spacing:  .1rem;
      text-align:      center;
      text-transform:  uppercase;

      @media (min-width: $small-plus + 1) {
        border-left: .1rem solid $dore-clair;

        &:first-of-type {
          border-left: none;
        }
      }

      @media (max-width: $small-plus) {
        padding: 1.5rem;
      }

      span {
        position:   relative;
        transition: color .3s ease-in-out;

        &::after {
          position:         absolute;
          left:             50%;
          bottom:           -.2rem;
          width:            0;
          height:           .2rem;
          content:          "";
          background-color: $dore-clair;
          transform:        translateX(-50%);
          transition:       all .3s ease-in-out;
        }
      }

      &.is-active span, &:hover span {
        color: $dore-clair;

        &::after {
          width: 100%;
        }
      }
    }
  }

  // Style burger menu

  .hamburger {
    display:         flex;
    justify-content: flex-end;
    align-items:     center;
    margin-left:     auto;
    cursor:          pointer;

    @media (min-width: $small-plus + 1) {
      display: none;
    }

    .hamburger-label {
      margin-right:   .7rem;
      font-weight:    700;
      text-transform: uppercase;
      letter-spacing: .1rem;
      color:          $blanc;
    }
  }
}
