/* Exemples de modifications des classes css pour un rendu graphique différent */

/* Modification de la couleur du texte */
/*
body{
    color: #CCCCCC;
}
*/

/* Modification de la couleur de fond */
/*
body{
    background-color: #333772;
}
*/

/* Modification de la couleur des titres */
/*
h1, h2, h3, h4 {
    color: #000000;
}
*/


/* Modification de la couleur des boutons */
/*
.border-button, .border-button.admin-button {
    background-color: #666666;
}
*/

/* Remplacement de l'image du bandeau par un fond uni */
/*
.header {
    background: #222222;
}
*/

/* Déplacement des boutons de l'entete à gauche */
/*
.header .nav-top .container {
    justify-content: flex-start;
}
.header .nav-top .container .nav-action:not(.nav-help) {
    border-right: 0.1rem solid #DAC192;
    border-left: 0;
}
*/
