.header {
  height:        50px;
  font-weight:   bold;
  font-size:     18pt;
  color:         white;
  width:         97%;
  margin-bottom: 40px;

  .title {
    background-color: rgb(0, 102, 178);
    padding:          10px;
    margin-right:     25px;
    margin-top:       20px;
    width:            100%;
    text-align:       center;
  }
}

.footer {
  position:   relative;
  font-style: italic;
  font-size:  11px;
  color:      grey;
  text-align: center;
  width:      92%;
  margin:     0 10mm 0 10mm;
}

.pagenum-container {
  position: absolute;
  right:    0;
}

table {
  border-collapse: collapse;
  width:           100%;
}

td, th {
  border:  1px solid #ddd;
  padding: 8px;
}

tr.odd {
  background-color: rgb(224, 235, 255);
}

th {
  background-color: rgb(0, 102, 178);
  font-weight:      bold;
  font-size:        10pt;
  color:            white;
  text-align:       center;
}

td {
  font-size:  10pt;
  color:      black;
  text-align: center;

  &.first {
    text-align: left;
  }

  .puce {
    display:     inline;
    font-size:   18pt;
    margin:      0 10px 0 10px;
    line-height: 16pt;
    width:       40px;
  }

  .list-value {
    margin: 0 0 0 10px;
  }
}

img {
  width: 100%;
}
