<page backtop="10mm" backbottom="10mm" backleft="10mm" backright="10mm">
    <style>
        {{ encore_entry_css_source('letter') }}
        {% if settings.data.pdfCSS %}
            {{ get_content(uploaded_asset(settings.data.pdfCSS)) }}
        {% endif %}
    </style>

    {# Logo département #}
    {% if settings.data.pdfLogo1 %}
        <p class="logo_top">
            <img width="240" src="{{ app.request.server.get('DOCUMENT_ROOT') ~ uploaded_asset(settings.data.pdfLogo1) }}"/>
        </p>
        <br/><br/>
    {% endif %}

    {# Logo du service #}
    {% if settings.data.pdfServiceLogo %}
        <img width="300" src="{{ app.request.server.get('DOCUMENT_ROOT') ~ uploaded_asset(settings.data.pdfServiceLogo) }}"/>
        <br/><br/>
    {% endif %}

    {# Interlocuteur : #}
    <table class="contact">
        <tbody>
        <tr>
            <td colspan="2">{% trans %}Votre interlocuteur :{% endtrans %} {{ settings.data.pdfDepartmentalHouseName }}</td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{{ app.request.server.get('DOCUMENT_ROOT') ~ asset('build/default/images/letter/phone.png', 'default') }}" width="14"/>
            </td>
            <td>{{ settings.data.pdfDepartmentalHousePhone }}</td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{{ app.request.server.get('DOCUMENT_ROOT') ~  asset('build/default/images/letter/envelop.png', 'default') }}" width="14"/>
            </td>
            <td>{{ settings.data.pdfSuccessionMail }}</td>
        </tr>
        </tbody>
    </table>

    {# Vos ref #}
    <p class="reference">
        <b>Vos réf. : {{ reference }}</b>
    </p>

    {# Objet #}
    <p class="object">
        <br/>
        {% trans %}Votre demande d'information sur une éventuelle créance du Département{% endtrans %}
    </p>

    {# Ville, Date #}
    <p class="date">
        <br/>
        {{ settings.data.pdfDestinationCity }}, le {{ 'now' | localizeddate('full', 'none') }}
    </p>

    {# Corps #}
    <div class="body">
        {% block body %}{% endblock %}
    </div>

    {# Signature #}
    <div class="signature">
        {% if responseType == constant('App\\Helper\\SearchHelper::SEARCH_STATUS_FIND_REC') %}
            <p align="right">Pour le président et par délégation</p>
        {% endif %}

        {% if settings.data.pdfSignature %}
            <p align="right">
                <img width="130" src="{{ app.request.server.get('DOCUMENT_ROOT') ~ uploaded_asset(settings.data.pdfSignature) }}"/>
            </p>
        {% endif %}
    </div>

    {# Pied de page #}
    {% if settings.data.pdfLogo2 %}
        <page_footer>
            <div class="page_bottom">
                <p align="center">
                    <img width="360" src="{{ app.request.server.get('DOCUMENT_ROOT') ~ uploaded_asset(settings.data.pdfLogo2) }}"/>
                </p>
            </div>
        </page_footer>
    {% endif %}
</page>
