<p>Alerte décès signalé par l'Etude de Maître {{ userName }} ({{ userEmail }}) </p>

<p>nom : {{ ('person.title.' ~ gender)|trans }} {{ firstName }} {{ useName }} {{ ('person.birth.' ~ gender)|trans }} {% if civilName %}({{ civilName }}){% endif%} le {{ birthDate|date("d/m/Y") }}</p>

<p>Décès : {{ deathDate|date("d/m/Y") }} à {{ deathLocation }}</p>

