<p>Maître,</p>
<p>
    Vous nous interrogez au sujet d'une éventuelle créance du département, au nom de {{ firstName }}
    {{ name }} et dont le décès est survenu le : {{ deathDate|date("d/m/Y") }}.
</p>
<p>
    Cette personne est <strong>inconnue</strong> du département, vous trouverez ci-joint la réponse de mes services.
</p>
<p>
    Je vous prie d'agréer, Maître, mes courtoises salutations
</p>
