<p>Maître,</p>
<p>
    Il semble qu'il existe une demande en cours d'instruction au nom de {{ firstName }} {{ name }}
    dont la date de naissance est le {{ birthDate|date("d/m/Y") }} et dont le décès est survenu le : {{ deathDate|date("d/m/Y") }}.
</p>
<p>
    Nous vous informons qu’une étude notariale a entamé une recherche de créances sur succession pour cette personne.
    Cette demande émane de l'étude : {{ libelle_notaire }}, dont le mail de contact est : {{ mail_notaire }}
</p>
<p>
    Je vous prie d'agréer, Maître, mes courtoises salutations
</p>
