<p>Maître,</p>
<p>
    Les éléments suivants ne permettent pas d'établir avec certitude l'identité de la personne.
    <ul>
        <li>Nom d'usage : {{ useName }}</li>
        <li>Nom d'état civil : {{ civilName }}</li>
        <li>Prénom 1 : {{ firstName }}</li>
        <li>Prénom 2 : {{ middleName }}</li>
        <li>Prénom 3 : {{ thirdName }}</li>
        <li>Date de naissance : {{ birthDate|date("d/m/Y") }}</li>
    </ul>
</p>
<p>
    Les services du département ont pris en charge votre demande et vous répondront dans les
    meilleurs délais
</p>
<p>
    Je vous prie d'agréer, Maître, mes courtoises salutations
</p>
