<p>Bonjour,</p>
<p>
    Suite à {{ nbLoginAttempts }} tentatives de connexion infructueuses, votre compte est verrouillé.
</p>
<p>
    Le code de réactivation de votre compte est le suivant :<br />
    <br />
    <strong>{{ unlockKey }}</strong><br />
    <br />
    Une fois votre compte déverrouillé, vous pourrez de nouveau vous connecter avec votre mot de passe actif ou cliquer sur "{% trans %}J'ai oublié mon mot de passe{% endtrans %}".
</p>
<p>
    {{ settings.data.mailSignature|raw }}
</p>
