@font-face {
  font-family:  "icomoon";
  src:          url("#{$fonts-path}/IcoMoon/icomoon.eot?1j8351");
  src:          url("#{$fonts-path}/IcoMoon/icomoon.eot?1j8351#iefix") format("embedded-opentype"),
                url("#{$fonts-path}/IcoMoon/icomoon.ttf?1j8351") format("truetype"),
                url("#{$fonts-path}/IcoMoon/icomoon.woff?1j8351") format("woff"),
                url("#{$fonts-path}/IcoMoon/icomoon.svg?1j8351#icomoon") format("svg");
  font-weight:  normal;
  font-style:   normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:             "icomoon" !important;
  speak:                   none;
  font-style:              normal;
  font-weight:             normal;
  font-variant:            normal;
  text-transform:          none;
  line-height:             1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-access:before {
  content: "\e922";
}

.icon-arrow-down:before {
  content: "\e923";
}

.icon-check:before {
  content: "\e924";
}

.icon-close:before {
  content: "\e925";
}

.icon-info:before {
  content: "\e926";
}

.icon-logout:before {
  content: "\e927";
}

.icon-parameters:before {
  content: "\e928";
}

.icon-question:before {
  content: "\e929";
}

.icon-user:before {
  content: "\e92a";
}

.icon-users:before {
  content: "\e92b";
}

.icon-edit:before {
  content: "\e900";
}

.icon-back:before {
  content: "\e901";
}

.icon-hammer2:before {
  content: "\e9a8";
}

.icon-bin2:before {
  content: "\e9ad";
}

.icon-reinit:before {
  content: "\e902";
}
