// Variables

// Paths

$img-path:     "../../images";
$fonts-path:   "../../fonts";

// Fonts

$font-base:    "RobotoSlab", serif !default;
$font-heading: "RobotoSlab", serif !default;

// Couleurs

$noir:         #000000 !default;
$anthracite:   #404047 !default;
$gris-med:     #797676 !default;
$gris-clair:   #E8EDF7 !default;
$gris-blanc:   #F2F5F9 !default;
$blanc:        #FFFFFF !default;
$bleu-voile:   #0D1023 !default;
$bleu-fonce:   #333772 !default;
$bleu-med:     #5D6EA0 !default;
$bleu-clair:   #C5D2ED !default;
$dore-fonce:   #93713B !default;
$dore-clair:   #DAC192 !default;
$error:        #B74242 !default;
$success:      #41AF51 !default;

// Tailles

$tiny:         480px !default;
$tiny-plus:    520px !default;
$small:        576px !default;
$small-plus:   680px !default;
$medium:       768px !default;
$medium-plus:  880px !default;
$large:        992px !default;
$large-plus:   1050px !default;
$x-large:      1170px !default;
$extra-large:  1300px !default;
$x-large-plus: 1600px !default;
$xx-large:     2020px !default;
